canvas-block([picture]="currentFrame", [size]="200")
.range__wrapper
  span.range__display {{ currentFPS + ' FPS'}}
  input.range__input(
    type="range",
    name="range",
    min="0",
    max="24",
    step="1",
    [(ngModel)]="currentFPS",
    (ngModelChange)="onFPSChange($event)"
  )
